#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  position: relative;
}
.nav{
  background-color: #242424;
  max-width: 400px;
  margin: auto;
  padding: 5px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: sticky;
  top: 15px;
  z-index: 2;
}

.nav a{
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 0px;
  transition: 0.2s;
  color: #fff;
}

.active-nav{
  background-color: rgb(19, 19, 19);
}
.body{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-top: 50px;
}

.my-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.into-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* height: 300px; */
  align-items: center;
  flex-direction: row-reverse;
  line-height: 25px;
  /* border: 1px solid; */
  width: 100%;
  max-width: 800px;
}
.intro-message{
  text-align: left;
  max-width: 500px;
  width: 100%;
  color: #afafaf;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.intro-message div{
  color: #fff;
  font-size: 35px;
  padding: 10px;
  width: 170px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  animation: typing 3s linear;
}
@keyframes typing {
  0%{
    width: 0px;
    /* border-right: 1px solid; */
  }
}
.intro-icon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* overflow: hidden; */
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-link{
  color: #000;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  max-width: 100px;
  transition: 0.2s;
  font-size: 15px;
}
.cv-link:hover{
  color: #000;
  /* scale: 0.9; */
  box-shadow: 0px 0px 2px 5px #ffffff10;
}

#projects, #contact, #skill{
  /* border: 1px solid; */
  width: 100%;
  max-width: 800px;
  padding: 20px 0px;
  /* background-color: rgb(22, 22, 22); */
}

.title{
  width: 100%;
  /* text-align: left; */
  padding: 10px;
}

.projects{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  /* border: 1px solid; */
  align-items: center;
  position: relative;
}

.next,
.prev{
  cursor: pointer;
  position: absolute;
}

.next{
  right: 0px;
}

.prev{
  left: 0px;
}

.pct{
  width: 100%;
  overflow: hidden;
}

.project{
  width: 85%;
  height: 310px;
  background-color: rgb(22, 22, 22);
  padding: 20px;
  border-radius: 10px;
  /* transform: translateY(350px); */
}

.project-right{
  animation: pright 0.5s ease-in;
}

.project-left{
  animation: pleft 0.5s ease-in;
}

@keyframes pright {
  0%{
    transform: translateX(220px);
  }
  2%{
    transform: translateY(400px) translateX(-380px);
  }
  50%{
    transform: translateX(-430px);
  }
}

@keyframes pleft {
  0%{
    transform: translateX(-220px);
  }
  2%{
    transform: translateY(400px) translateX(380px);
  }
  50%{
    transform: translateX(430px);
  }
}

.project img{
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.p-intro{
  height: 110px;
  padding: 5px;
  /* text-align: left; */
  overflow-x: scroll;
  width: 100%;
  /* font-size: 15px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.p-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  /* border: 1px solid; */
  display: flex;
  gap: 5px;
  margin-left: -5px;
}

.p-intro::-webkit-scrollbar{
  display: none;
}

.p-name{
  font-weight: 700;
}

.p-btns a{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  /* border: 1px solid white; */
}

.p-btns a:first-child{
  background-color: #fff;
  color: #000;
}

.p-btns a:first-child:hover{
  border: 1px solid #000;
}

.p-btns a:hover{
  /* box-shadow: 0px 0px 2px 5px #ffffff10; */
  border: 1px solid white;
}

.skills{
  height: 70px;
  padding: 20px;
  max-width: 700px;
  overflow: hidden;
  margin: auto;
  display: flex;
  gap: 20px;
}

.skills .icons{
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 800px;
  animation: movein 10s linear infinite;
}

@keyframes movein {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-80px);
  }
  90%{
    transform: translateX(30px);
  }
}

.skills .icons a{
  color: #fff;
}
.skill-img-container{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.skill-img-container img{
  height: 60%;
}

.skill-img-container .skill-name{
  font-size: 10px;
}

.socials{
  display: flex;
  gap: 10px;
  /* border: 1px solid; */
  /* padding: 5px; */
  /* justify-content: center; */
  align-items: center;
  /* margin: auto; */
}

.socials-wrapper{
  /* border: 1px solid; */
  max-width: 800px;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  margin: auto;
  padding: 10px;
}

form input{
  padding: 15px;
  border-radius: 5px;
  background-color: #242424;
}

form button{
  width: 200px;
  margin: auto;
}

.message-input{
  height: 100px;
  border-radius: 5px;
  resize: none;
  padding: 15px;
  background-color: #242424;
}

.social-img{
  width: 20px;
  height: 20px;
}

@media (max-width: 720px) {
  .into-container{
    display: block;
    text-align: center;
  }
  .intro-message{
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin: auto;
    text-align: center;
    gap: 10px;
  }
  .intro-icon{
    margin: auto;
  }
  .socials{
    justify-content: center;
    margin: auto;
  }
}

@media (width <= 530px) {
  @keyframes movein {
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(-150px);
    }
    90%{
      transform: translateX(30px);
    }
  }
}

@media (width <= 430px) {
  @keyframes movein {
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(-250px);
    }
    90%{
      transform: translateX(30px);
    }
  }
}

@media (width <= 330px) {
  @keyframes movein {
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(-300px);
    }
    90%{
      transform: translateX(30px);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 2s linear;
  }
}